{% extends "index.html" %}
{% block content %}
<section id="content" class="body">
  <header>
    <h2 class="entry-title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="{{ article.title|striptags }}">{{ article.title }}</a></h2>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
  </header>
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
<footer class="post-info">
    <abbr class="published" title="{{ article.locale_date }}">
      {{ article.locale_date }}
    </abbr>
  </footer><!-- /.post-info -->

  </section>
{% endblock %}
